*{
    margin: 0;
    padding: 0;
    
}
ul{
    list-style-type: none;
}
li:hover{
    text-decoration: underline;
    cursor:pointer
}
a{
    text-decoration: none;
}
body{
    height:100vh;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    display: flex;
    justify-content: flex-end;
}
.header ul{
    display: flex;
    align-items: center;
}
.header ul img{
    border-radius: 50%;
}

.button1{
    background-color: rgb(42, 113, 219);
    color: white;
    height: 30px;
    width: 70px;
    border: rgb(42, 113, 219);
}


.gmail{
    outline: none;
}

.header ul li{
    margin: 2px 10px;
}
/* Bento menu*/
.header .circles{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.header .circles .circle{
    background-color: #4d4d4d;
    border-radius: 50%;
    padding: 2px;
    margin: 2px;
}
.footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(220, 220, 220);
    padding: 10px;
}
.footer h3{
    color: #444444;
    font-weight: 400;
    padding: 0 30px 20px;
    border-bottom: 1px solid #c7c7c7;
}
.footer .footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .footer-links ul{
    display: flex;
    padding: 10px 0;
}
.footer .footer-links ul li{
    margin: 0 10px;
    font-size: 18px;
    color: #444444;
}
/* Hero*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
     
}
.google_img{
    margin-bottom: 10px;
}
.hero .form-container form{
    position: relative;
}
/*.hero .form-container form label.search{
    position: absolute;
    left: 20px;
    top: 11px;
}*/
.hero .form-container form label.search{
    color: #b3b2b2;
}
.magnifying_glass{
    position: absolute;
    height: 18px;
    width: 15px;
    left: 14px;
    top: 11px;
}

.hero .form-container form input{
    padding: 10px;
    padding-left: 35px;
    width: 400px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 18px;
    outline: none;
}

.hero .form-container form input:hover{
    border:  1px solid #8d8d8d;
}

@media (min-width: 500px) {
    .hero .form-container form input{
        width: 400px;
    }
}
@media (min-width: 640px) {
    .hero .form-container form input{
        width: 500px;
    }
}
@media (min-width: 768px) {
    .hero .form-container form input{
        width: 600px;
    }
    .footer .footer-links{
        flex-direction: row;
        justify-content: space-around;
    }
}
